@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
html,body,.container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #26A69A;
    height: 100px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Acme', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}
.king{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.1s;
    animation:spin 30s linear infinite;
    box-sizing: border-box;
}
.king:hover{
    animation:spin 1s linear infinite;
    border: 10px solid #26A69A;
}